<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('TRVC')" data-ng-class="{active: currency.symbol == 'DASH'}">TRVC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mTRVC')" data-ng-class="{active: currency.symbol == 'mDASH'}">mTRVC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uTRVC')" data-ng-class="{active: currency.symbol == 'uDASH'}">uTRVC</a>
  </li>
</ul>

