<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('TRVC')" data-ng-class="{active: currency.symbol == 'TRVC'}">TRVC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mTRVC')" data-ng-class="{active: currency.symbol == 'mTRVC'}">mTRVC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uTRVC')" data-ng-class="{active: currency.symbol == 'uTRVC'}">uTRVC</a>
  </li>
</ul>

